name: Test All Projects

on:
  push:
    branches: [main]
    paths:
      - 'second_lab/avl-bag/**'
      - 'lab1/task4/**'
      - 'lab2/task27/**'
  workflow_dispatch:

jobs:
  test-avl-bag:
    name: Test AVL Bag
    runs-on: ubuntu-22.04
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup OCaml
      uses: ocaml/setup-ocaml@v2
      with:
        ocaml-compiler: "4.14.0"
        disable-sandboxing: true
    
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y bubblewrap pkg-config m4
    
    - name: Initialize OPAM
      run: |
        opam init --disable-sandboxing -y --bare
        eval $(opam env)
        opam switch create 4.14.0
        eval $(opam env)
    
    - name: Install project dependencies
      run: |
        eval $(opam env)
        opam update
        opam install dune alcotest -y
    
    - name: Build AVL Bag
      working-directory: ./second_lab/avl-bag
      run: |
        eval $(opam env)
        dune build
    
    - name: Test AVL Bag
      working-directory: ./second_lab/avl-bag
      run: |
        eval $(opam env)
        # Убираем лимит стека
        ulimit -s unlimited
        # OCAMLRUNPARAM=l=0 означает неограниченный стек
        OCAMLRUNPARAM="l=0" dune runtest

  test-lab1-task4:
    name: Test Lab1 Task4
    runs-on: ubuntu-22.04
    needs: test-avl-bag
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup OCaml
      uses: ocaml/setup-ocaml@v2
      with:
        ocaml-compiler: "4.14.0"
        disable-sandboxing: true
    
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y bubblewrap pkg-config m4
    
    - name: Initialize OPAM
      run: |
        opam init --disable-sandboxing -y --bare
        eval $(opam env)
        opam switch create 4.14.0
        eval $(opam env)
    
    - name: Install project dependencies
      run: |
        eval $(opam env)
        opam update
        opam install dune alcotest -y
    
    - name: Build Lab1 Task4
      working-directory: ./lab1/task4
      run: |
        eval $(opam env)
        dune build
    
    - name: Test Lab1 Task4
      working-directory: ./lab1/task4
      run: |
        eval $(opam env)
        # Убираем все ограничения стека
        ulimit -s unlimited
        # l=0 - неограниченный стек OCaml
        # s=0 - неограниченный стек для обработчиков сигналов
        OCAMLRUNPARAM="l=0,s=0" dune runtest

  test-lab2-task27:
    name: Test Lab2 Task27
    runs-on: ubuntu-22.04
    needs: test-lab1-task4
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup OCaml
      uses: ocaml/setup-ocaml@v2
      with:
        ocaml-compiler: "4.14.0"
        disable-sandboxing: true
    
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y bubblewrap pkg-config m4
    
    - name: Initialize OPAM
      run: |
        opam init --disable-sandboxing -y --bare
        eval $(opam env)
        opam switch create 4.14.0
        eval $(opam env)
    
    - name: Install project dependencies
      run: |
        eval $(opam env)
        opam update
        opam install dune alcotest -y
    
    - name: Build Lab2 Task27
      working-directory: ./lab2/task27
      run: |
        eval $(opam env)
        dune build
    
    - name: Test Lab2 Task27
      working-directory: ./lab2/task27
      run: |
        eval $(opam env)
        ulimit -s unlimited
        OCAMLRUNPARAM="l=0,s=0,v=0" dune runtest
