name: Test All Projects

on:
  push:
    branches: [main]
    paths:
      - 'second_lab/avl-bag/**'
      - 'lab1/task4/**'
      - 'lab2/task27/**'
  workflow_dispatch:

jobs:
  test-avl-bag:
    name: Test AVL Bag
    runs-on: ubuntu-22.04
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup OCaml
      uses: ocaml/setup-ocaml@v2
      with:
        ocaml-compiler: "4.14.0"
    
    - name: Install project dependencies
      run: |
        opam install dune alcotest -y
    
    - name: Build AVL Bag
      working-directory: ./second_lab/avl-bag
      run: dune build
    
    - name: Test AVL Bag with unlimited stack
      working-directory: ./second_lab/avl-bag
      run: |
        # Полностью убираем ограничения стека
        ulimit -s unlimited
        export OCAMLRUNPARAM="l=0"
        dune runtest

  test-lab1-task4:
    name: Test Lab1 Task4
    runs-on: ubuntu-22.04
    needs: test-avl-bag
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup OCaml
      uses: ocaml/setup-ocaml@v2
      with:
        ocaml-compiler: "4.14.0"
    
    - name: Install project dependencies
      run: |
        opam install dune alcotest -y
    
    - name: Build Lab1 Task4
      working-directory: ./lab1/task4
      run: dune build
    
    - name: Test Lab1 Task4 with unlimited stack
      working-directory: ./lab1/task4
      run: |
        # Устанавливаем безлимитный стек несколькими способами
        ulimit -s unlimited
        # OCAMLRUNPARAM=0 означает неограниченный стек
        OCAMLRUNPARAM="l=0" dune runtest

  test-lab2-task27:
    name: Test Lab2 Task27
    runs-on: ubuntu-22.04
    needs: test-lab1-task4
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup OCaml
      uses: ocaml/setup-ocaml@v2
      with:
        ocaml-compiler: "4.14.0"
    
    - name: Install project dependencies
      run: |
        opam install dune alcotest -y
    
    - name: Build Lab2 Task27
      working-directory: ./lab2/task27
      run: dune build
    
    - name: Test Lab2 Task27 with unlimited stack
      working-directory: ./lab2/task27
      run: |
        ulimit -s unlimited
        dune runtest
