name: CI - Matrix Testing

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        project:
          - name: "AVL Bag"
            path: "./second_lab/avl-bag"
    
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup OCaml for ${{ matrix.project.name }}
      uses: ocaml/setup-ocaml@v2
      with:
        ocaml-compiler: "4.14.0"
    
    - name: Install dependencies
      run: opam install dune alcotest -y
    
    - name: Build ${{ matrix.project.name }}
      working-directory: ${{ matrix.project.path }}
      run: dune build
    
    - name: Test ${{ matrix.project.name }}
      working-directory: ${{ matrix.project.path }}
      run: dune runtest
