name: Test AVL Bag

on:
  push:
    branches: [main]
    paths:
      - 'second_lab/avl-bag/**'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup OCaml
      uses: ocaml/setup-ocaml@v2
      with:
        ocaml-compiler: "4.14.0"
        disable-sandboxing: true 
    
    - name: Install dependencies
      run: |
        opam update
        opam install dune alcotest -y
    
    - name: Build AVL Bag
      working-directory: ./second_lab/avl-bag
      run: dune build
    
    - name: Test
      working-directory: ./second_lab/avl-bag
      run: dune runtest
